<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phone1000.stelephonegoods">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application
        android:name=".SElephant"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ReadDetailActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.CertificationActivity" />
        <activity android:name=".activities.CashUpdateActivity" />
        <activity android:name=".activities.OrderActivity" />
        <activity android:name=".activities.MinePayActivity" />
        <activity android:name=".activities.AccountActivity" />
        <activity android:name=".activities.RecieverAddressActivity" />
        <activity android:name=".activities.CommenProblemActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.AboutUsActivity" />
        <activity android:name=".activities.UserProtocolActivity"></activity>
    </application>

</manifest>